
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #0D1321;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 18px;
  text-decoration: none;
  text-shadow: 2px 2px 3px #93A3B1;
  font-family: 'Quicksand', sans-serif;
}
 
.sidebar a.active {
  background-color: #93A3B1;
  color: white;
  width: 200px;
}

.sidebar a:hover:not(.active) {
  background-color: #93A3B1;
  color: white;
  border-radius: 5px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.main-image {
  margin-top:5px;
  width: 50%;
  /* border: 2px solid #DB8A74; */
  border-radius:100px;
}

.contact-links {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.contact-links a {
  color: white;
}


@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar {
    margin-top:0px;

  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-width: 320px) {
  .sidebar {
    display: none;
  }
  .main-image {
    display: none;
  }
  .contact-links {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .sidebar {
    display: block;
  }

  .main-image {
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  .contact-links {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .contact-links {
    font-size: 30px;
  }
}


