header {
  width:100%;
  height:62px;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  margin:0px;
  background-color:rgba(0, 0, 0, 0.711);
}

header h1 {
  font-family: 'Philosopher', sans-serif;
  float: left;
  margin:0;
  margin-top: 20px;
  margin-left: 10px;
  color:white;
}

header ul {
  margin-top: 20px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  font-family: 'Muli', sans-serif;
  padding: 10px;
  color:white;
}

header a:link {
  color:white;
}

header a:visited {
  color: white;
}

header a:hover {
  cursor: pointer;
  background: rgba(212, 81, 19, 0.711);
  text-decoration: none;
  color: white;
  border-radius: 4px;
  transform: scale(1.05) rotate(-1deg);
}
ul a {
  padding: 5px;
}

@media screen and (min-width: 320px) {
    header h1 {
        font-size: 20px;
    }

    header a {
        font-size: 15px;
    } 
}

@media screen and (min-width: 765px) {
  header h1 {
      /* font-size: 38px; */
  }

  header a {
      font-size: 25px;
  }
}
