
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #481620;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.main-image {
  margin-top:5px;
  width: 50%;
  border: 2px solid #481620;
  border-radius:100px;
}

.contact-links {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.contact-links a {
  color: white;
}

.fa-envelope:hover {
  color: #481620;
  cursor: pointer;
}

.fa-github-square:hover {
  color: #481620;
  cursor: pointer;
}

.fa-linkedin:hover {
  color: #481620;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar {
    margin-top:0px;

  }
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-width: 320px) {
  .main-image {
    display: none;
  }

  .contact-links {
    display:none;
  }
}

@media screen and (min-width: 700px) {
  .main-image {
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  .contact-links {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .contact-links {
    font-size: 30px;
  }
}


