* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;    
    color:black;
    background-color: white;

}

 h3 {
    text-decoration:underline;
    text-decoration-color: #A57982;
}

.headline {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 75%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 8px 8px 5px #0D1321;
}  

.main-page {
    font-family: 'Quicksand', sans-serif;
    background-color: #0D1321;
    color:white;
    border-radius:4px;
}

.main-image-2 {
    margin:auto;
    width: 50%;
    border-radius:100px;
}

 @media screen and (min-width: 320px) {
    h1 {
        font-size: 20px;
    }

    .headline {
        font-size: 18px;
        margin: auto;
        width:75%;
        margin-bottom: 15px;
    } 

    .main-page {
        margin-left:10px;
        margin-right: 10px;
    }

    .main-image-2 {
        display: block;
        width: 45%;
        padding:5px;
    }

    .main-image-comp {
        display: none;
    }

    .fa-react, .fa-node-js, .fa-js, .fa-html5, .fa-css3-alt {
        font-size: 30px;
        margin: 5px;
    }

    .add-list-text {
        font-size: 24px;
    }
    

}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 35px;
    }

    .headline {
        font-size: 20px;
        width: 65%;
        margin-right: 15px;
    }
    
    .main-page {
        margin-left:100px;
        margin-right: 100px;
    }

    .main-image-2 {
        display: none;
    }

    .main-image-comp {
        display: block;
        margin: auto;
        width: 55%;
        border-radius: 10px;
    }

    .fa-react, .fa-node-js, .fa-js, .fa-html5, .fa-css3-alt {
        font-size: 40px;
        margin: 5px;
    }

}

@media screen and (min-width: 1000px) {
    .headline {
        font-size: 20px;
        width: 65%;
        margin: auto;
    } 

    .main-image-comp {
        margin: auto;
        width: 45%;
    }  

    .main-page {
        margin-left:150px;
        margin-right: 150px;
    }
}
