/* .footer {
    display: flex;
    flex-direction: column;
}

.footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.footer li {
    font-size: 35px;
}

.fa-github-square, .fa-envelope, .fa-linkedin {
    color: black;
}

.fa-envelope:hover {
    color: rgba(212, 81, 19, 0.711);
    cursor: pointer;
}

.fa-github-square:hover {
    color: rgba(212, 81, 19, 0.711);
    cursor: pointer;
}

.fa-linkedin:hover {
    color: rgba(212, 81, 19, 0.711);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .footer {
        display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
  } */
