
.about-me-div {
    display: flex;
    margin-left: auto;
    flex-direction:column;
    width: 80%;
    padding-top: 20px;
    padding-bottom:20px;
    background-color:#ffffff;
    box-shadow: 8px 8px 5px RGBA(31,42,42,0.85);
}

.about-me-div h2 {
    margin: auto;
    font-family: 'Philosopher', sans-serif;
    color: white;
    background-color:RGBA(31,42,42,0.85);
    width: 50%;
    border-radius: 5px;
}

.imac-img {
    width: 68%;
    border-radius:100px;
    margin: auto;
}

.about-me-photo {
    margin: auto;
    width: inherit;
    border-radius:100px;
    -webkit-filter: grayscale(100%); 
}

.about-me-text {
    padding: 10px;
}

@media screen and (min-width: 320px) {
    .about-me-div {
        width: 80%;
        padding-top: 20px;
        padding-bottom:20px; 
        margin-left: auto;
        margin-right:auto;  
    }

    .about-me h2 {
        font-size: 20px;
        border-radius: 5px;
    }

    .about-me-photo {
        padding-left:10px;
        padding-right:10px;
    }

    .about-me-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 700px) {
    .about-me-div {
        font-size: 20px;
        width: 65%;
        margin: auto;
        margin-right: 15px;
    }

    .about-me h2 {
        font-size: 35px;
        border-radius: 5px;
    }

    .about-me-photo {
        padding-left:15px;
        padding-right:15px;
    }

    .about-me-text {
        font-size: 20px;
    }
}